<div >
    <div class="row">
        <div class="display-inline savingLoader" ng-show="saving"><i class="icon-spinner icon-spin" ></i> Saving</div>
        <div class="row">
            <alert ng-repeat="alert in alerts" type="alert.type" autoclose="alert.autoclose" autoclosetime="alert.autoclosetime" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>

        <div class="jumbotron">
            <div class="container" >
                <h1>Check It. Pounce It.</h1>
                <p>Want to pounce on a domain name as soon as it's available? You can check it's availability here and setup a pounce if it's not available.</p>

                <form ng-submit="CheckAvailability()" class="form-inline">
                    <div class="row ">
                        <div class="col-lg-4 form-group">
                            <input class="input-lg input-search form-control" type="text" ng-model="nameQuery.domainName" ng-disabled="disabled" placeholder="Search"/>
                        </div>
                        <button class="btn btn-primary btn-lg"  type="submit" ng-disabled="disabled" ng-model="searchButtonText">
                            <i class="icon-search" ng-class="{'icon-spinner icon-spin': searching}"></i> {{searchButtonText}}
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>

<footer>
<h3>3rdPie</h3>
</footer>

